<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <link rel="stylesheet" href="/static/css/home.css"/>
</head>
<body>
<div class = "home">
    <div class="wrap">
        <h1>어디가GYM?-관리자 페이지</h1>
        {{#userName}}
            <h3>USER : {{userName}}</h3>
            <a href="/logout" target="_self">Logout</a>
            <p>
            <li><a href="/allaccount">회원 조회</a></li>
            <li><a href="/adminReservationCheck">예약 관리</a></li>
            <li><a href="/adminReviewDelete">리뷰 삭제</a></li>
            <li><a href="/gymMasterRegist">가입 등록</a></li>
            <li><a href="/">홈으로</a></li>
            </p>
        {{/userName}}
        {{^userName}}
            <p>
            <h3>NowUser : Please login</h3>
            <a href="/login" target="_self">Login</a>
        {{/userName}}
    </div>
</div>
</body>
</html>