<!--리뷰 페이지-->
<!--signup.html-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <th><h1>Review PAGE</h1></th>
    <h3>NowUser : {{id}}</h3>
</head>
<body>
<form method="post" action="/board">
    <input type="hidden" name="id" value = {{id}}>
    GYM : <input type="number" name="gym"><br/>
    STAR : <input type="number" name="star"><br/>
    REVIEW : <input type = "text" name ="reviews"></br>
    <input type="submit" value="Register"/>
</form>
<a href="/">Back</a>
</body>
</html>