<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
<div class = "content">
    <div>
        <h1>어디가GYM?</h1>
        {{#userName}}
            <h3>USER : {{userName}}</h3>
            <a href="/logout" target="_self">Logout</a>
            <p>
            <li><a href="/myPage">마이 페이지</a></li>
            <li><a href="/Map">헬스장 선택</a></li>
            <li><a href="/Map2">헬스장 가입</a></li>
            <li><a href="/gymMasterRegist">가입 등록(관리자Only)</a></li>
            </p>
        {{/userName}}
        {{^userName}}
            <p>
            <h3>NowUser : Please login</h3>
            <a href="/login" target="_self">Login</a>
            <p>
            <li><a href="/member_sign2">Regist</a></li>
            </p>
        {{/userName}}
    </div>
</div>
</body>
</html>