<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<body>
<div class = "content">
  <div>
    <h1>WELCOME</h1>
    <h3>현재 로그인된 사용자 : <td th:text ="${name}"></h3>
    <sec:authorize access="isAnonymous()">

      <a href="/login" target="_self">Login</a>

    </sec:authorize>

    <sec:authorize access="isAuthenticated()">

      <a href="/logout" target="_self">Logout</a>

    </sec:authorize>
    <p>
      <a href="/allusers">회원 조회</a>
      <a href="/allreview">리뷰 조회</a>
      <a href="/register">회원 등록</a>
      <a href="/article/new">리뷰작성</a>
    </p>
  </div>
</div>
</body>
</html>