<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
<div class = "content">
    <div>
        <h1>어디가GYM?-가입 페이지</h1>
        {{#userName}}
            <h3>USER : {{userName}}</h3>
            <a href="/logout" target="_self">Logout</a>
            <p>
            <li><a href="/member_sign2">일반 회원 가입</a></li>
            <li><a href="/Map2">헬스장 가입</a></li>
            <li><a href="/">홈으로</a></li>
            </p>
        {{/userName}}
        {{^userName}}
            <p>
            <h3>NowUser : Please login</h3>
            <a href="/login" target="_self">Login</a>
            <li><a href="/">홈으로</a></li>
        {{/userName}}
    </div>
</div>
</body>
</html>