<!DOCTYPE html>
<html lang = "kr" xmlns:th="http://www.thymeleaf.org">

<body>
<div class = "content">
  <div>
    <th><h1>리뷰 조회</h1></th>
    <h3>현재 로그인된 사용자 : <td th:text ="${name}"></h3>
    <table border="1">
      <tr>
        <th>Review</th>
        <th>별점</th>
        <th>ID</th>
        <th>헬스장 번호</th>
      </tr>
      <tbody>
      <tr th:each = "re:${re}">
        <td th:text ="${re.reviews}">
        <td th:text ="${re.star}">
        <td th:text ="${re.id}">
        <td th:text ="${re.gym}">
      </tr>
      </tbody>
    </table>
    <a href ="/review_delete">리뷰 삭제</a>
    <a href="/">뒤로 가기</a>
  </div>
</div>
</body>
</html>