<!--signup.html-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <th><h1>User Separate PAGE</h1></th>
</head>
<body>
<form method="post" action="/user_review">
  Id : <input type="text" name="id"><br/>
  password : <input type="text" name="password"><br/>
  <input type="hidden" name="roles" value="USER"/>
  <input type="hidden" name="reviews" value="target"/>
  <input type="submit" value="Register"/>
</form>
<a href="/">Back</a>
</body>
</html>