<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<body>
<div class = "content">
    <div>
        <h1>마이 페이지</h1>
        {{#userName}}
            <h3>USER : {{userName}}</h3>
            <a href="/logout" target="_self">Logout</a>
            <p>
            <li><a href="/allaccount">회원 조회(관리자 ONLY)</a></li>
            <li><a href="/gymMasterRegist">가입 등록(관리자Only)</a></li>
            <li><a href="/member_delete">회원 삭제</a></li>
            <li><a href="/user_review">회원 리뷰 조회</a></li>
            <li><a href="/">홈으로</a></li>
            </p>
        {{/userName}}
        {{^userName}}
            <p>
            <h3>NowUser : Please login</h3>
            <a href="/login" target="_self">Login</a>
            <p>
            <li><a href="/member_sign2">Regist</a></li>
            </p>
        {{/userName}}
    </div>
</div>
</body>
</html>